# Ignore Visual Studio files
.vs/
bin/
obj/

# Ignore NuGet packages
*.nuget.props
*.nuget.targets
*.lock.json
project.lock.json
packages/

# Ignore user-specific files
*.user
*.suo
*.sln.docstates

# Ignore build output
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Ignore macOS files
.DS_Store

# Ignore Windows thumbnail cache files
Thumbs.db
